@model IEnumerable<SistemaWebTransporteMVC.Models.Auto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>@Html.ActionLink("Nuevo Auto", "Create", "Auto")</p>
<table>
    <tr>
        <th>@Html.DisplayNameFor(m => m.AutoId)</th>
        <th>@Html.DisplayNameFor(m => m.Modelo)</th>
        <th>@Html.DisplayNameFor(m => m.Marca)</th>
        <th>@Html.DisplayNameFor(m => m.Anio)</th>
        <th>@Html.DisplayNameFor(m => m.Color)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.AutoId)</td>
            <td>@Html.DisplayFor(m => item.Modelo)</td>
            <td>@Html.DisplayFor(m => item.Marca)</td>
            <td>@Html.DisplayFor(m => item.Anio)</td>
            <td>@Html.DisplayFor(m => item.Color)</td>

            <td>@Html.ActionLink("Detalle", "Detalle", new { id = item.AutoId })</td>
            <td>@Html.ActionLink("Eliminar", "Delete", new { id = item.AutoId })</td>
        </tr>
     }
    
</table>



